<h2>Employee List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
        </tr>
    </thead>
    <tbody>
        <div *ngIf="error" class="error-message">
            {{ error }}
        </div>
        <ul *ngIf="employees.length > 0">
            <tr *ngFor="let employee of employees">
            <li>{{ employee.firstname }}</li>
            <li>{{ employee.lastname }}</li>
            <li>{{ employee.emailId }}</li>
            </tr>
          </ul>
    </tbody>
</table>